@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5% !important; /*62.5% of 16px(default font size) = 10px -> For making 1rem=10px & responsive*/
  scroll-behavior: smooth;
}
body {
  color: #000;
  font-size: 1.6rem;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 2rem;
  position: relative;
}

::-webkit-scrollbar {
  width: 1rem;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: #c4c4c4;
  opacity: 0.5;
  z-index: -1;
  margin-block: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  opacity: 0.5;
  border-radius: 1rem;
  transition: all 0.5s ease;
  z-index: -1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #474747;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 8rem;
}
.logo {
  width: 10rem;
}
.hamburgerMenu {
  height: 5rem;
  width: 5rem;
  display: none;
  transition: transform 1s ease;
}
.menuStick {
  height: 0.3rem;
  width: 3rem;
  background-color: #000;
  border-radius: 50rem;
  transition: transform 0.5s ease;
}
.menuStick:nth-child(2) {
  width: 2rem;
}
.menuStick:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.hamburgerMenu.cross .menuStick:nth-child(2) {
  visibility: hidden;
}
.hamburgerMenu.cross .menuStick:nth-child(1) {
  transform: rotate(45deg);
}
.hamburgerMenu.cross .menuStick:nth-child(3) {
  transform: rotate(-45deg);
  margin-top: -1.55rem;
}

.sideNavMenu {
  background-color: #fff;
  height: 100vh;
  width: 27rem;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  padding-inline: 5rem;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 12px 38px 7px rgba(0, 0, 0, 0.1);
}
.sideNavMenu a {
  margin-bottom: 3rem;
}
.sideNavMenu.visible {
  transform: translateX(0);
}
.navLinks {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  margin-right: 3rem;
  color: #000;
  transition: color 0.3s ease;
}
.navLinks:hover {
  color: #b8833c;
}

.mainWrapper {
  display: flex;
  margin-inline: 10rem;
  margin-top: 5rem;
  justify-content: flex-start;
}
.menuShowCase {
  flex: 1.5;
}
.menuItemsInnerContainer {
  display: flex;
  flex-wrap: wrap;
  height: 70rem;
  overflow: auto;
  padding-left: 3rem;
}

.menuItemCard {
  background-color: #fff;
  box-shadow: 0px 12px 38px 7px rgba(0, 0, 0, 0.1);
  height: 29rem;
  width: 20rem;
  border-radius: 2rem;
  border: 0.1rem solid #d6d6d68e;
  margin-inline: 1.5rem;
  margin-bottom: 4rem;
}
/* .menuItemCard:last-of-type {
  margin-inline: auto;
} */
.menuItemImageContainer {
  width: 18rem;
  height: 14rem;
  margin-inline: auto;
  margin-top: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  transition: background-image 0.8s ease-in-out;
}
.itemImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .cappuccinoImage {
  background-image: url("./images/Cap.png");
}
.cappuccinoImage:hover {
  background-image: url("./images/Biscotte.png");
}
.biscottiImage {
  background-image: url("./images/Biscotte.png");
}
.biscottiImage:hover {
  background-image: url("./images/Biscotte.png");
}
.dripCoffeeImage {
  background-image: url("./images/Drip\ Coffee.png");
}
.dripCoffeeImage:hover {
  background-image: url("./images/Biscotte.png");
}
.espressoImage {
  background-image: url("./images/Espresso.png");
}
.espressoImage:hover {
  background-image: url("./images/Biscotte.png");
}
.latteImage {
  background-image: url("./images/Latte.png");
}
.latteImage:hover {
  background-image: url("./images/Biscotte.png");
}
.sconeImage {
  background-image: url("./images/Scone.png");
}
.sconeImage:hover {
  background-image: url("./images/Biscotte.png");
} */
.itemDetailsContainer {
  padding-inline: 2rem;
}
.itemDetailsContainer h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-block: 1rem;
}
.itemDetailsContainer p {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  margin-top: -0.5rem;
  color: #474747;
}
.itemDetailsContainer h3 {
  font-size: 1.9rem;
  color: #b8833c;
}
.priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.iconContainer {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #b8833c;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: transform ease 0.8s;
}
.iconContainer:hover {
  transform: scale(1.08);
}
.iconContainer:active {
  transform: scale(0.5);
}
.verticalDivider {
  height: 75rem;
  width: 0.2rem;
  background-color: #c4c4c4;
}

/* Cart Section */
.cart {
  padding-left: 5rem;
  flex: 1;
}
.cartHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  align-items: center;
  color: #474747;
}
.cartHeader h2 {
  font-size: 2rem;
}
.cartItems {
  height: 50rem;
  overflow-y: auto;
  padding-right: 1rem;
}
.clearBackgroundBtn {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
  color: #b8833c;
  transition: transform 0.5s ease;
}
.clearBackgroundBtn span:hover {
  transform: scale(1.08);
}
.clearBackgroundBtn span:active {
  transform: scale(0.94);
}

.clearCartBtn {
  display: flex;
  align-items: center;
  color: #f76564;
  font-weight: 700;
  font-size: 1.6rem;
  transition: transform 0.5s ease;
}
.clearCartBtn:hover {
  transform: scale(1.06);
}
.clearCartBtn:active {
  transform: scale(0.94);
}
.crossIcon {
  margin-left: 0.5rem;
}
.cartItemCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.cartItemCardLeftContent {
  display: flex;
}
.cartItemCardRightContent {
  display: flex;
  align-items: center;
}
.itemQuantity {
  margin-inline: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
}
.cartItemImage {
  height: 5rem;
  margin-right: 2rem;
}
.itemTitle {
  font-size: 1.8rem;
}
.cartItemCardLeftContent p {
  font-size: 1.4rem;
}
.itemPrice {
  color: #b8833c;
}
.cartFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horizontalDivider {
  height: 0.2rem;
  width: 100%;
  background-color: #c4c4c4;
  margin-bottom: 2rem;
}
.cartTotalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cartTotalContainer h2 {
  font-size: 2rem;
  color: #474747;
}
.cartTotal {
  font-size: 2rem;
  color: #b8833c;
  font-weight: 700;
}
.checkOutBtn {
  background-color: #b8833c;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 1.2rem 5rem;
  font-size: 1.6rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: transform 0.7s ease;
}
.checkOutBtn:hover {
  transform: scale(1.08);
}
.checkOutBtn:active {
  transform: scale(0.94);
}

.material-symbols-outlined {
  font-size: 2rem !important;
}

.cartButton {
  height: 6rem;
  background-color: #b8833c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  color: #fff;
  position: fixed;
  right: 5%;
  bottom: 5%;
  visibility: hidden;
  width: 0;
  box-shadow: 4px 10px 32px 0px rgba(0, 0, 0, 0.1);
}

/* Media quires */
@media screen and (max-width: 1140px) {
  .cartButton {
    visibility: visible;
    width: 6rem;
  }
  .mainWrapper {
    flex-direction: column;
  }
  .menuItemsInnerContainer {
    height: auto;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
  }
  .verticalDivider {
    display: none;
  }
  .cart {
    padding-inline: 3rem;
  }
  .menuItemsInnerContainer {
    padding-left: 0;
  }
  .hamburgerMenu {
    height: 5rem;
    width: 5rem;
    display: block;
    cursor: pointer;
  }
  nav {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  header {
    margin-inline: 2rem;
  }
  .mainWrapper {
    margin-inline: 5rem;
  }
}
@media screen and (max-width: 415px) {
  .mainWrapper {
    margin-inline: 2rem;
  }
  .cart {
    padding-inline: 2rem;
  }
  .cartItemCard {
    flex-direction: column;
    align-items: flex-start;
  }
  .cartItemCardRightContent {
    margin-block: 1.8rem 2rem;
    border: 0.1rem solid #c4c4c4;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 290px) {
  .mainWrapper {
    margin-inline: 2rem;
  }
  .cart {
    padding-inline: 1rem;
  }
  .cartHeader {
    font-size: 1.2rem;
  }
  .clearCartBtn {
    margin-left: 10rem;
    font-size: 1.4rem;
    margin-left: 0;
  }
  .itemTitle {
    font-size: 1.5rem;
  }
  .cartItemCardLeftContent p {
    font-size: 1.4rem;
  }
  .itemQuantity {
    font-size: 1.4rem;
  }
  .clearBackgroundBtn span {
    font-size: 1.3rem;
  }
  .cartTotalContainer h2 {
    font-size: 1.6rem;
  }
  .cartTotal {
    font-size: 1.6rem;
  }
}
